<body>
	<!-- Header -->
	<header
		class="header-v2">
		<!-- Header desktop -->
		<div class="container-menu-desktop trans-03">
			<div class="wrap-menu-desktop how-shadow1">
				<nav
					class="limiter-menu-desktop p-l-45">

					<!-- Logo desktop -->
					<a href="main" class="logo">
						<img src="{{asset('images/icons/logo-01.jpg')}}" alt="IMG-LOGO">
					</a>
                </nav>
				</div>
			</div>
			<!-- Header Mobile -->
			<div
				class="wrap-header-mobile">
				<!-- Logo moblie -->
				<div class="logo-mobile">
					<a href="main"><img src="{{asset('images/icons/logo-01.jpg')}}" alt="IMG-LOGO"></a>
				</div>
			</div>
		</header>
