<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('{{asset('images/bg-01.jpg')}}');">
	<h2 class="ltext-105 cl0 txt-center">
		Sobre Nosotros
	</h2>
</section>


<!-- Content page -->
<section class="bg0 p-t-75 p-b-120">
	<div class="container">
		<div class="row p-b-148">
			<div class="col-md-7 col-lg-8">
				<div class="p-t-7 p-r-85 p-r-15-lg p-r-0-md">
					<h3 class="mtext-111 cl2 p-b-16">
						Nuestra historia
					</h3>

					<p class="stext-113 cl5 p-b-26">
						Alma Verde es una empresa familiar que surge con el sueño de obtener el mejor aceite posible. Para conseguirlo, seleccionamos el mejor fruto y lo recolectamos con mucho mimo y especial cuidado para que no se dañe antes del proceso de molturación. Para conseguir un aceite premium con la mejor calidad posible la recolección se realiza solo durante la mañana se moltura en frío en un plazo máximo de 2 horas y solo utilizando técnicas mecánicas. Posteriormente, y para eliminar las impurezas y evitar la oxidación, filtramos el aceite utilizando algodón 100% natural antes de 24 horas.
					</p>

					<p class="stext-113 cl5 p-b-26">
						Nuestro favorito es el aceite de olivos centenarios de nuestra sierra situados a mas de 1000m sobre el nivel del mar y que dan un aceite con un característico color verde esmeralda.
					</p>
				</div>
			</div>

			<div class="col-11 col-md-5 col-lg-4 m-lr-auto">
				<div class="how-bor1 ">
					<div class="hov-img0">
						<img src="{{asset('images/about-01.jpg')}}" alt="IMG">
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="order-md-2 col-md-7 col-lg-8 p-b-30">
				<video controls>
  					<source src="{{asset('videos/video.mp4')}}" type="video/mp4">
				</video>
			</div>
		</div>
	</div>
</section>
