<div class="bg0 p-t-75 p-b-85">
	<div class="container">
		<div class="row">
			<div class="col-lg-10 col-xl-7 m-lr-auto m-b-50">
				<div class="m-l-25 m-r--38 m-lr-0-xl">
					<h1 class"h1">Mis pedidos</h1>
					</br>
					<p class="stext-113 cl5 p-b-26">
						Aquí tienes los pedidos que has realizado en nuestra web. 
						Muchas gracias por darnos tu confianza.
					</p>
					</br>
					<div class="wrap-table-shopping-cart">
						<table id="pedidos" class="table-shopping-cart">
							<thead>
								<tr class="table_head">
									<th class="column-1">Fecha</th>
									<th class="column-2">Producto</th>
									<th class="column-3">Precio</th>
								</tr>
							</thead>
						</table>
					</div>
				</div>
			</div>
		<div>
     </div>
</div>
